//Colors
$mainColor:    #FD8558;
$mainColorDark: #ce4d1e;
$titleColor:   #333333;
$labelColor:   #222222;
$contentColor: #999999;

$blockNameColor:#F7F7F7;

$footerBgColor: #111111;
$footerColor: #bababa;

$inputColor: #EEEEEE;