<div class="about">
    <h1 class="block-name">about</h1>
    <div class="container">

        <div class="about__block">
            <div class="about__first-box">
                <h3 class="about__title title">about us</h3>
                <h2 class="about__label">Ultimate experiences <br> with story, emotion and purpose</h2>
            </div>
            <div class="about__second-box">
                <h3>Quisque. Maecenas. Eros mus. Hymenaeos eros. Nisi mauris et adipiscing. Aliquam class bibendum</h3>
                <p class="text">Quisque. Maecenas. Eros mus. Hymenaeos eros. Nisi mauris et adipisc iquam class bibendum non mattis fusceut perspiciatis undeuisque. Maecenas. Eros mus. Hymenaeos eros. Nisi mauris et adipiscing. Aliquam class bibendum mattis fusceut persecenas. Eros mus</p>
            </div>
            <div class="about__third-box">
                <img src="./img/about.jpg" alt="about us">
                <div class="about__quote">
                    <p>“ Our mission is to produce the  <span>highest quality</span> work for every clients, on every project with full of energy we have ”</p>
                    <div class="about__author-quote">
                        <p>Frankie Kao</p>
                        <p>ART DIRECTOR PAO</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>