<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__block-nav">
                <div class="footer__block-nav-logo">
                    <img src="./img/logo-white.svg" alt="logo">
                    <div class="footer__nav-logo-info">
                        <a href="#">+ (0712) 819 79 555</a>
                        <p><span>| M:</span>info@example.com</p>
                    </div>
                </div>
                <div class="footer__nav-menu">

                    <div class="footer__nav-box">
                        <h4 class="footer__nav-label">Home</h4>
                        <ul class="footer__nav-link">
                            <li><a href="#">Home Portfolio</a></li>
                            <li><a href="#">Home Agency</a></li>
                            <li><a href="#">Home Architecture</a></li>
                        </ul>
                    </div>

                    <div class="footer__nav-box">
                        <h4 class="footer__nav-label">Portfolio</h4>
                        <ul class="footer__nav-link">
                            <li><a href="#">Masonry Portfolio</a></li>
                            <li><a href="#">Grid Portfolio</a></li>
                            <li><a href="#">Metro Portfolio</a></li>
                            <li><a href="#">Service Details</a></li>
                        </ul>
                    </div>

                    <div class="footer__nav-box">
                        <h4 class="footer__nav-label">Blog</h4>
                        <ul class="footer__nav-link">
                            <li><a href="#">Blog Style 1</a></li>
                            <li><a href="#">Blog Style 2</a></li>
                            <li><a href="#">Blog Style 3</a></li>
                            <li><a href="#">Licensing</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="footer__info">
                <p>© Anow. All Rights Reserved 2022 — Designed by <a href="#">128.digital.</a> Powered by <a href="#">Webflow</a></p>
            </div>

        </div>
    </div>
</footer>