<div class="news">
    <div class="container">
        <div class="news__block">
            <div class="news__title title">THE DAILY PLANET</div>
            <div class="news__label label">our interactive news</div>

            <div class="news__posts">
                <div class="news__post">
                    <div class="news__post-image" style="background-image: url('./img/news-1.png');"></div>

                    <div class="news__post-info">
                        <ul class="news__post-tag">
                            <li>lifestyle</li>
                            <li>design</li>
                        </ul>
                        <span class="news__post-date">March 11, 2022</span>
                    </div>
                    
                    <h3 class="news__post-label">
                        insights from interviewing the community 
                    </h3>

                    <span class="news__post-view">view more</span>
                </div>
                <div class="news__post">
                    <div class="news__post-image" style="background-image: url('./img/news-2.png');"></div>

                    <div class="news__post-info">
                        <ul class="news__post-tag">
                            <li>lifestyle</li>
                            <li>design</li>
                        </ul>
                        <span class="news__post-date">March 11, 2022</span>
                    </div>
                    
                    <h3 class="news__post-label">
                        excelent company and opportunities
                    </h3>

                    <span class="news__post-view">view more</span>
                </div>
                <div class="news__post">
                    <div class="news__post-image" style="background-image: url('./img/news-3.png');"></div>

                    <div class="news__post-info">
                        <ul class="news__post-tag">
                            <li>lifestyle</li>
                            <li>design</li>
                        </ul>
                        <span class="news__post-date">March 11, 2022</span>
                    </div>
                    
                    <h3 class="news__post-label">
                        ways to increase your website
                    </h3>

                    <span class="news__post-view">view more</span>
                </div>

            </div>
        </div>
    </div>
</div>