<div class="portfolio" id="portfolio">

    <div class="portfolio__block">
        <div class="portfolio__block-box" style="background-image:url('./img/portfolio-1.png');">
            <div class="portfolio__block-selector">
                <span>Crazy Max</span>
                <div class="portfolio__block-select js-select">
                    <a href="#" target="_blank">
                        <i class="fa-solid fa-circle-check"></i>
                    </a>
                </div>
            </div>
        </div>   
        
        <div class="portfolio__block-box" style="background-image:url('./img/portfolio-2.png');">
            <div class="portfolio__block-selector">
                <span>Stylish House</span>
                <div class="portfolio__block-select js-select">
                    <a href="#" target="_blank">
                        <i class="fa-solid fa-circle-check"></i>
                    </a>
                </div>
            </div>
        </div>   
        
    </div>

    <div class="portfolio__block-2">
        <div class="portfolio__block-mainbox">
            <div class="portfolio__block-selector">
                <span>Oblique House</span>
                <div class="portfolio__block-select js-select">
                    <a href="#" target="_blank">
                        <i class="fa-solid fa-circle-check"></i>
                    </a>
                </div>
            </div>
        </div>   
    </div>

    <div class="portfolio__block">
        <div class="portfolio__block-box" style="background-image:url('./img/portfolio-3.png');">
            <div class="portfolio__block-selector">
                <span>Differents</span>
                <div class="portfolio__block-select js-select">
                    <a href="#" target="_blank">
                        <i class="fa-solid fa-circle-check"></i>
                    </a>
                </div>
            </div>
        </div>   
        
        <div class="portfolio__block-box" style="background-image:url('./img/portfolio-1.png');">
            <div class="portfolio__block-selector">
                <span>Bag</span>
                <div class="portfolio__block-select js-select">
                    <a href="#" target="_blank">
                        <i class="fa-solid fa-circle-check"></i>
                    </a>
                </div>
            </div>
        </div>   
        

    </div>

</div>
