<div class="skills">
    <div class="container">
        <div class="skills__block">

            <div class="skills__title-box">
                <div class="skills__title title">our skills</div>
                <div class="skills__label label">modern digital creative agency</div>
                <div class="text">If you need to redesign your new project, new visual strategy, ux structure or you do have some cool ideas for collaboration</div>
            </div>

        <div class="skills__stat-box">

            <div class="skills__stat-progress">
                <div class="skills__stat-grogress-line progress-line-first">
                    <div class="skills__stat-progress-line-info">
                        <span class="skills__stat-grogress-line-name">illustration</span>
                        <span class="skills__stat-progress-line-number">90%</span>
                    </div>
                </div> 
            </div><!--/first-line-->

            <div class="skills__stat-progress">
                <div class="skills__stat-grogress-line progress-line-second">
                    <div class="skills__stat-progress-line-info">
                        <span class="skills__stat-grogress-line-name">web design</span>
                        <span class="skills__stat-progress-line-number">80%</span>
                    </div>
                </div> 
            </div><!--/second-line-->

            <div class="skills__stat-progress">
                <div class="skills__stat-grogress-line progress-line-third">
                    <div class="skills__stat-progress-line-info">
                        <span class="skills__stat-grogress-line-name">development</span>
                        <span class="skills__stat-progress-line-number">95%</span>
                    </div>
                </div> 
            </div><!--/third-line-->
            
        </div>
    </div>
</div>