<div class="submit">
    <div class="container">
        <div class="submit__block">
            <div class="submit__info">
                
                <div class="submit__info-box">
                    <p class="submit__box-title">address</p>
                    <h4 class="submit__box-label">14 tottenham road, <br> london, england</h4>
                </div>

                <div class="submit__info-box">
                    <p class="submit__box-title">information</p>
                    <h4 class="submit__box-label">info@yourdomain.com <br> (+68) 12004509</h4>
                </div>

            </div>


            <form action="submit" class="submit__form">
                <div class="submit__form-person">
                    <input type="text" placeholder="Your name*" class="name">
                    <input type="email" placeholder="Your e-mail*" class="email">
                </div>
                <textarea name="message" id="message" placeholder="Your message*" cols="30" rows="10"></textarea>
                <button class="submit__form-btn btn">Send Message</button>
            </form>
            
        </div>
    </div>
</div>