<div class="team">
    <div class="container">
        <div class="team__block">
            <div class="team__title title">our team</div>
            <div class="team__label label">meet our awesome team</div>
            <div class="team__block-humans">
                <div class="team__block-human" style="background-image: url('./img/photo-1.jpg');">
                    <h5 class="team__block-human-name">Anna Brown</h5>
                    <p class="team__block-human-job">Creative Director</p>
                </div>
                <div class="team__block-human" style="background-image: url('./img/photo-2.jpg');">
                    <h5 class="team__block-human-name">Andy Crown</h5>
                    <p class="team__block-human-job">SEO manager</p>
                </div>
                <div class="team__block-human" style="background-image: url('./img/photo-3.jpg');">
                    <h5 class="team__block-human-name">Katy necker</h5>
                    <p class="team__block-human-job">Designer</p>
                </div>
                <div class="team__block-human" style="background-image: url('./img/photo-4.jpg');">
                    <h5 class="team__block-human-name">margo kesslin</h5>
                    <p class="team__block-human-job">Developer</p>
                </div>
                <div class="team__block-human" style="background-image: url('./img/photo-5.jpg');">
                    <h5 class="team__block-human-name">Kanye Jones</h5>
                    <p class="team__block-human-job">Art Director</p>
                </div>
                <div class="team__block-human" style="background-image: url('./img/photo-6.jpg');">
                    <h5 class="team__block-human-name">Marta White</h5>
                    <p class="team__block-human-job">Tester</p>
                </div>
            </div>
            <button class="team__btn btn">Start work</button>
        </div>
    </div>
</div>