<div class="testimonials">
    <div class="container">
        <div class="testimonials__block">
            <h1 class="testimonials___block-name block-name">testimonials</h1>
            <div class="testimonials__label">
                <p>What is your attitude as a small town businessman when it comes to advertising or taking help of an advertising design. What is your attitude as a small town businessman when it comes to advertising or taking help of an advertising design.</p>
            </div>
            <div class="testimonials__profile">
                <div class="testimonials__profile-photo" style="background-image: url(./img/profile.jpg);"></div>
                <div class="testimonials__profile-info">
                    <p class="testimonials__profile-name">Sophie Nguyen</p>
                    <p class="testimonials__profile-job">CEO</p>
                </div>
            </div>
        </div>
    </div>
</div>